@import 'reset.css';
@import 'bootstrap.min.css';
@import 'variables';

body {
  color: #666;
  height: 1800px;
}

.block_title {
  text-align: left;
  color: #242f35;
  font-size: 16px;
  padding-left: 16px;
  margin: 30px auto 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to bottom,#19abd6 35%,#3ac0e8 100%) left center no-repeat;
    background-size: 100%;
  }
}

@media (min-width: 1200px) {
  .container{
    max-width: 1250px;
  }
}

.text-truncate-mutiple-2 {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
